.ionLabel {
  font-size: 14px;
  font-weight: bold;
  max-width: 85px;
}
.ionDetail{
  font-size: 14px;
  font-weight: bold;
}
.ionItem {
  font-size: 14px;
}
ion-input {
  font-size: 14px;
}
ion-textarea {
  font-size: 14px;
}
.txtarea {
  white-space: pre-line;
}