<ion-header>
  <ion-toolbar [color]="hcolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Referrals by Month</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen forceOverscroll="false">
  <ion-card [hidden]="!chartData">
    <ion-card-header>
      <ion-card-subtitle>Graph 1</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #valueBarsCanvas height="250"></canvas>
    </ion-card-content>
    <ion-card-content>
      <p>Monthly Percentage Growth</p>
      <ion-item *ngFor="let p of percentResult">
        <ion-label>{{ p.month }}</ion-label>
        <ion-note color="dark">{{ p.percent }}%</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>