<ion-header>
  <ion-toolbar [color]="hcolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="light">
      {{ 'BANK_SUBTITLE' | translate }}
    </ion-list-header>
    <div #expandWrapper class='expand-wrapper validation-message' [class.collapsed]="!expanded">
      {{ validationMessage }}
    </div>
    <ion-item class="ml-input">
      <i class="fa fa-user" item-left></i>
      <ion-label floating>{{ 'BANK_OWNER' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.owner" (change)="inputChange(account.owner)"></ion-input>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-university" item-left></i>
      <ion-label floating>{{ 'BANK_NAME' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.name"></ion-input>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-thumb-tack" item-left></i>
      <ion-label floating>{{ 'BANK_TYPE' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.accounttype"></ion-input>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-barcode" item-left></i>
      <ion-label floating>{{ 'BANK_NUMBER' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.number"></ion-input>
    </ion-item>
    <ion-item class="ml-input">
      <i class="fa fa-list-ol" item-left></i>
      <ion-label floating>{{ 'BANK_ROUTING' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.routingnumber"></ion-input>
    </ion-item>
    <button ion-item class="ml-input" (click)="pickNotes()">
      <i class="fa fa-file-text-o" item-left></i>
      <ion-label floating>{{ 'BANK_NOTES' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.notes" disabled></ion-input>
    </button>
  </ion-list>
</ion-content>