<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons>
    <ion-title color="white">{{ 'FORGOTPASSWORD_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="login-wrap">
    <div class="login-html">
      <div class="login-form">
        <div class="sign-in-htm">
          <form #loginForm="ngForm" (submit)="forgotPassword()">
            <div class="group">
              <ion-label position="floating">{{ 'EMAIL_LABEL' | translate }}</ion-label>
              <ion-input type="email" class="input" [(ngModel)]="email" name="email" required></ion-input>
            </div>
            <div class="group">
              <button ion-button class="button" color="primary" block>{{ 'FORGOTPASSWORD_SUBMIT' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>