<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/app/tabs/settings'" routerDirection="back">{{ 'CANCEL_TITLE' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'TOUCHID_TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">{{ 'SAVE_TITLE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-list>
    <ion-list-header color="light">
      {{ 'TOUCHID_SETTINGS' | translate }}
    </ion-list-header>
    <ion-item detail="false">
      <ion-icon slot="start" name="ios-finger-print" color="danger"></ion-icon>
      <ion-label>{{ 'ENABLE_TOUCHID' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="touchidenabled" color="success"></ion-toggle>
    </ion-item>
    <ion-item detail="false">
      <ion-icon slot="start" name="ios-mail" color="medium"></ion-icon>
      <ion-input placeholder="{{ 'EMAIL_LABEL' | translate }}" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item detail="false">
      <ion-icon slot="start" name="ios-lock" color="medium"></ion-icon>
      <ion-input type="text" [(ngModel)]="pwd" *ngIf="showpwd"></ion-input>
      <ion-input placeholder="{{ 'PASSWORD_LABEL' | translate }}" type="password" [(ngModel)]="pwd" *ngIf="!showpwd"></ion-input>
      <ion-button (click)="showPassword()" fill="clear">
          <ion-icon name="ios-eye" *ngIf="pwd != ''"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>