<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>{{ 'TAB1_TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recent">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>{{ 'TAB2_TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>{{ 'TAB3_TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'TAB4_TITLE' | translate }}</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
