ion-item-group{
  padding-bottom: 25px;
}
ion-icon {
  margin-right: 12px;
}
.bold {
  font-weight: bold;
}
.colorRed {
  color: #FF5722;
}
.colorYellow {
  color: #FFC107;
}
.colorGreen {
  color: #4CAF50;
}