ion-toolbar {
  --background: var(--ion-color-primary);
  --border-color: transparent;
}
ion-content {
  --ion-background-color: var(--ion-color-primary);
}
.divText {
  margin-top: 35px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.slide-title {
  margin-top: 10%;
}
.app-title {
  font: 50px 'PT Sans Narrow';
  font-weight: bolder;
  color: #fff;
}
.divImage i {
  width: 175px;
  height: 175px;
  border: 5px solid #fff;
  border-radius: 100%;
  font-size: 120px;
  line-height: 38px;
  margin: 7% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-image {
  max-height: 70%;
  max-width: 70%;
  margin: 36px 0;
}
.introDarkBlue {
  background-color: #0b70C1;
}
p {
  padding: 0 40px;
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
  color: #000;
}
.copyright {
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}