

/**
* ----------------------------------------
* slide-in-right
* ----------------------------------------
*/
.slide-in-right1 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.05s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.05s both;
}
.slide-in-right2 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.10s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.10s both;
}
.slide-in-right3 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.15s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.15s both;
}
.slide-in-right4 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.20s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.20s both;
}
.slide-in-right5 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.25s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.25s both;
}
.slide-in-right6 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.30s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.30s both;
}
.slide-in-right7 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.35s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.35s both;
}
.slide-in-right8 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.40s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.40s both;
}
.slide-in-right9 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.45s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.45s both;
}
.slide-in-right10 {
  -webkit-animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.50s both;
          animation: slide-in-right 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.50s both;
}
/**
* ----------------------------------------
* fade-in-fwd
* ----------------------------------------
*/
.fade-in-fwd1 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
}
.fade-in-fwd2 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.10s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.10s both;
}
.fade-in-fwd3 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.15s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.15s both;
}
.fade-in-fwd4 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.20s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.20s both;
}
.fade-in-fwd5 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.25s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.25s both;
}
.fade-in-fwd6 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.30s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.30s both;
}
.fade-in-fwd7 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.35s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.35s both;
}
.fade-in-fwd8 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.40s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.40s both;
}
.fade-in-fwd9 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.45s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.45s both;
}
.fade-in-fwd10 {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.50s both;
          animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.50s both;
}
/**
* ----------------------------------------
* fade-in-bottom
* ----------------------------------------
*/
.fade-in-bottom1 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.05s both;
}
.fade-in-bottom2 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.10s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.10s both;
}
.fade-in-bottom3 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.15s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.15s both;
}
.fade-in-bottom4 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.20s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.20s both;
}
.fade-in-bottom5 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.25s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.25s both;
}
.fade-in-bottom6 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.30s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.30s both;
}
.fade-in-bottom7 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.35s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.35s both;
}
.fade-in-bottom8 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.40s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.40s both;
}
.fade-in-bottom9 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.45s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.45s both;
}
.fade-in-bottom10 {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.50s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.50s both;
}
/**
* ----------------------------------------
* animation slide-in-right
* ----------------------------------------
*/
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/**
* ----------------------------------------
* animation fade-in-fwd
* ----------------------------------------
*/
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
/**
* ----------------------------------------
* animation fade-in-bottom
* ----------------------------------------
*/
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}