.ionLabel {
  //font-family: 'PT Sans Narrow';
  font-size: 14px;
  font-weight: bold;
  max-width: 85px;
}
ion-input {
  font-size: 14px;
}
ion-textarea {
  font-size: 14px;
}
.txtarea {
  white-space: pre-line;
}