<ion-header>
    <ion-toolbar [color]="hcolor">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen forceOverscroll="false">
    <ion-card [hidden]="!chartData">
      <ion-card-header>
        <ion-card-subtitle>Patient Referrals Past 12 Months</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <canvas #valueBarsCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card [hidden]="!chartDataStatus">
      <ion-card-header>
        <ion-card-subtitle>Patient Referrals Past 12 Months by Status</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <canvas #valueBarsCanvas2></canvas>
      </ion-card-content>
    </ion-card>
  </ion-content>