<ion-header>
  <ion-toolbar [color]="hcolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CC_LIST' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addItem()" [color]="hcolor">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item-divider color="light" sticky>
      <ion-label>
        {{ 'CC_SUBTITLE' | translate }}
      </ion-label >
    </ion-item-divider>
    <ion-item detail="true" *ngFor="let item of items | async" (click)="openItem(item)">
      <ion-icon name="md-card" color="medium" slot="start"></ion-icon>
      <div>
        {{ item.name }}<br/>
        <p class="smallText">Owner: {{ item.owner }}</p>
      </div>
    </ion-item>
  </ion-list>
  <div class="noitems" *ngIf="noitemsfound">
    <div class="divImageNoItemsFound">
      <ion-icon name="md-card"></ion-icon>
    </div>
    <div class="ion-padding">
      <div class="divNoItemsFound">
        <p innerHTML="{{ 'NO_ITEMS_FOUND_DESCRIPTION' | translate }}"></p>
      </div>
    </div>
  </div>
</ion-content>